<head>
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" type="text/css" href="twitter-simple.css">
</head>

<% output_tweets.each do |tweet_id,tweet| %>

    <div id="title">
        <div id="gravitar">
            <img src="<%= tweet[:gravitar] %>">
        </div>

        <div id="name">
            <h1><%= tweet[:name] %></h1>
        </div>

        <div id="author">
            <h2>@<%= tweet[:author] %></h1>
        </div>

        <div id="topic">
            <h3><%= topic %></h3>
        </div>

    </div>

    <div id="tweet_table">
    <table>
        <tr>
            <td>
                <p><%= tweet[:tweet] %></p>
            </td>
        </tr>
        <tr>
            <td>
                Retweets: <%= tweet[:retweeted] %>
            </td>
        </tr>
    </table>
<% end %>
</div>

<div id="time" align="right">
    <%= Time.now.strftime('%a - %H:%M:%S') %>
</div>
