<html>
    <head>
        <meta http-equiv="refresh" content=<%= refresh %>>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <style type="text/css">
         /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
         body { background-color: black !important;
             color: white !important;
             word-wrap: break-word !important;
         }
        </style>

        <title>
            Twitter Dashboard
        </title>

    </head>

    <body class="container">
        <div clas="panel planel-default">
            <div class="panel-body">
                    <div class="row">
                        <div id="title">
                            <div class="row">
                                <div id="gravitar" class="col-md-1 img-thumbnail">
                                    <img src="<%= tweet[:gravitar] %>"></img>
                                </div>

                                <div id="name" class="col-md-5">
                                    <h1><%= tweet[:name] %></h1>
                                </div>

                                <div id="author" class="col-md-3">
                                    <h2>@<%= tweet[:author] %></h2>
                                </div>
                            </div>
                        </div>

                        <div id="tweet_table" class="col-md-10">
                            <div class="row">
                                <h2><%= tweet[:tweet] %></h2>
                            </div>
                            <div class="row">
                                <h3>Retweets: <%= tweet[:retweeted] %></h3>
                            </div>

                            <% if tweet[:image] %>
                                <div class="row">
                                    <img src="<%= tweet[:image]%>"></img>
                                </div>
                            <% end %>
                        </div>
                    </div>
            </div>
        </div>

        <div class="panel-body">
            <div id="blank" class="col-md-10">
            </div>
            <div id="time" class="col-md-2">
                <%= Time.now.strftime('%a - %H:%M:%S') %>
            </div>
        </div>
    </body>
</html>
